.pageHeader {
    height: 100px;
    border-bottom: 1px solid rgb(107, 106, 106);
}

.pageHeader h1 {
    font-size: 20px;
    color: rgb(226, 219, 219);
    float: left;
    margin-top: 35px;
    font-weight: bold;
    padding-left: 400px;
}

#pageHeader_lbUserFullName {
    font-weight: bold;
}

#pageHeader_lbUserFullName::after {
    content: "  |  ";
}

#pageHeader_lbRole {
    font-weight: bold;
}


/****************** Menu *************/

.sidebar .logo {
    padding: 35px 15px;
    height: 100px;
}


/******************* main **************/

.main_page {
    height: 1000px;
}


/*********** Footer **************/

.pageFooter {
    display: flex;
    border-top: 1px solid rgb(107, 106, 106);
}

.img {
    color: rgb(255, 255, 255);
}

.img img {
    width: 200px;
    height: 110px;
    margin-left: 60px;
    margin-top: 10px;
}

.img p {
    font-size: 16px;
    padding-left: 35px;
}

.Content {
    padding-top: 35px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding-left: 30px;
}

#Social ul {
    display: flex;
    list-style-type: none;
    margin: 55px;
    padding-left: 100px;
}

#Social a {
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgb(82, 79, 79);
    color: white;
    text-align: center;
    line-height: 44px;
    margin-left: 20px;
}

#Social a:hover {
    background-color: rgb(223, 204, 164);
}